<h1>Enter A CD</h1>
<form action='/' method='post'>
  <label for='cd-name'>CD Name</label>
  <input id='cd-name' name='cd-name' type='text'>
  <label for='artist-name'>Artist Name</label>
  <input id='artist-name' name='artist-name' type='text'>
  <button type='submit'>Add CD</button>
</form>
