<h1>Search by artist</h1>
<form action='/searchbyartist' method='post'>
  <label for='artist-name'>Artist name</label>
  <input id='artist-name' name='artist-name' type='text'>
  <button type='submit'>Search</button>
</form>
